{% extends 'shared/base.html' %}
{% load i18n %}
{% block content %}
					<!-- About Section -->
							<div class="page pt-about" data-simplebar>
								<section class="container">

									<!-- Section Title -->
									<div class="header-page mt-70 mob-mt">
										<h2>{% translate 'درباره من'%}</h2>
										<span></span>
									</div>

									<!-- Personal Info Start -->
									<div class="row mt-100">

										<!-- Information Block -->
										<div class="col-lg-12 col-sm-12">
											<div class="info box-1">
												<div class="row">
												{% for resume in resumes %}
													<div class="col-lg-3 col-sm-4">
														<div class="photo">
															<img alt="{{resume.name}}" src="{{resume.image.url}}">
														</div>
													</div>
													<div class="col-lg-9 col-sm-8">
														<h4>{% translate 'درباره من' %}</h4>
														<div class="loc">
															<i class="fas fa-map-marked-alt"></i>
														</div>
														<p>{{resume.description}}</p>
																											<div class="col-lg-3 col-sm-12 pt-50">
														<a href="{{resume.resume.url}}" class="btn-st" download>{% translate 'دریافت رزومه' %}</a>
													</div> 
													</div>

												{% endfor %}

													<!-- Icon Info -->
													{% for experiance in experiances %}
													<div class="col-lg-3 col-sm-4">
														<div class="info-icon">
															<i class="fas fa-award"></i>
															<div class="desc-icon">
																<h6>{{experiance.skill}}</h6>
															</div>
														</div>
													</div>
													{% endfor %}

												</div>
											</div>
										</div>
									</div>

									<!-- Interests Row Start -->
									<div class="row mt-100">

										<!-- Header Block -->
										<div class="col-md-12">
											<div class="header-box mb-50">
												<h3>{% translate 'علایق من'%}</h3>
											</div>
										</div>

										<div class="col-lg-12 col-sm-12">
											<div class="box-2">
												<div class="row">
                                                {% for favorite in object_list %}
													<!-- Interests Item -->
													<div class="col-lg-3 col-sm-6">
														<div class="inter-icon">
															<i class="fas fa-award"></i>
															<div class="desc-inter">
																<h6>{{favorite.title}}</h6>
															</div>
														</div>
													</div>
                                                {% endfor %}


									
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
{% endblock %}