{% extends 'shared/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

							<!-- Home Section -->
							<div class="pt-home" style="background-image: url('img/home-bg.jpg')">

								<!-- Particles -->
								<div id="particles-js"></div>

								<section>

									<!-- Banner -->
									<div class="banner">
										<h1>{% translate 'باربد نوابی' %}</h1>
										<p class="cd-headline rotate-1">
											<span class="cd-words-wrapper">
												<b class="is-visible">{% translate 'برنامه نویس وب'%}</b>
												<b>{% translate 'برنامه نویس پایتون'%}</b>
												<b>{% translate 'توسعه جنگو'%}</b>
												<b>{% translate 'فریلنسر'%}</b>
												<b>{% translate 'جاوا اسکریپت'%}</b>
											</span>
										</p>
									</div>

									<!-- Social -->
									<div class="social">
										<ul>
											<!-- <li><a href="#"><i class="fab fa-facebook-f"></i></a></li> -->
											<!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
											<li><a href="https://www.instagram.com/barbod_nv/" target="_blank"><i class="fab fa-instagram"></i></a></li>
											<!-- <li><a href="#"><i class="fab fa-youtube"></i></a></li> -->
										</ul>
									</div>
								</section>
							</div>

		

							<!-- Resume Section -->
							<div class="page pt-resume" data-simplebar>
								<section class="container">

									<!-- Section Title -->
									<!-- <div class="header-page mt-70 mob-mt">
										<h2> ها</h2>
										<span></span>
									</div> -->

									<!-- Experience & Education Row Start -->
									

									<!-- Skills Row Start -->
									<div class="row mt-100">

										<!-- Header Block -->
										<div class="col-md-12">
											<div class="header-box mb-50">
												<h3>مهارت ها</h3>
											</div>
										</div>
									</div>

									<div class="box-1 skills">
										<div class="row">
											<div class="col-md-6">

												<!-- Skill Item -->
												<div class="skill-item">
													<h4 class="progress-title">#C</h4>
													<div class="progress">
														<div class="progress-bar" style="width:93%">
															<div class="progress-value">93%</div>
														</div>
													</div>
												</div>

												<!-- Skill Item -->
												<div class="skill-item">
													<h4 class="progress-title">DotNet Core</h4>
													<div class="progress">
														<div class="progress-bar" style="width:90%">
															<div class="progress-value">90%</div>
														</div>
													</div>
												</div>

												<!-- Skill Item -->
												<div class="skill-item">
													<h4 class="progress-title">Javascript</h4>
													<div class="progress">
														<div class="progress-bar" style="width:85%">
															<div class="progress-value">85%</div>
														</div>
													</div>
												</div>

												<!-- Skill Item -->
												<div class="skill-item">
													<h4 class="progress-title">Asp.Net Core</h4>
													<div class="progress">
														<div class="progress-bar" style="width:90%">
															<div class="progress-value">90%</div>
														</div>
													</div>
												</div>
												<!-- Skill Item -->
												<div class="skill-item">
													<h4 class="progress-title">Asp.Net MVC</h4>
													<div class="progress">
														<div class="progress-bar" style="width:95%">
															<div class="progress-value">95%</div>
														</div>
													</div>
												</div>
												<!-- Skill Item -->
												<div class="skill-item">
													<h4 class="progress-title">WCF</h4>
													<div class="progress">
														<div class="progress-bar" style="width:70%">
															<div class="progress-value">70%</div>
														</div>
													</div>
												</div>
												<!-- Skill Item -->
												<div class="skill-item">
													<h4 class="progress-title">Type Script</h4>
													<div class="progress">
														<div class="progress-bar" style="width:95%">
															<div class="progress-value">95%</div>
														</div>
													</div>
												</div>
												<!-- Skill Item -->
												<div class="skill-item">
													<h4 class="progress-title">Xamarin</h4>
													<div class="progress">
														<div class="progress-bar" style="width:90%">
															<div class="progress-value">90%</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-6">
																								<!-- Skill Item -->
																								<div class="skill-item">
																									<h4 class="progress-title">WPF</h4>
																									<div class="progress">
																										<div class="progress-bar" style="width:85%">
																											<div class="progress-value">85%</div>
																										</div>
																									</div>
																								</div>
																								<!-- Skill Item -->
																								<div class="skill-item">
																									<h4 class="progress-title">Web Design</h4>
																									<div class="progress">
																										<div class="progress-bar" style="width:95%">
																											<div class="progress-value">95%</div>
																										</div>
																									</div>
																								</div>
												
																								<div class="skill-item">
																									<h4 class="progress-title">Ionic</h4>
																									<div class="progress">
																										<div class="progress-bar" style="width:95%">
																											<div class="progress-value">85%</div>
																										</div>
																									</div>
																								</div>
																								<div class="skill-item">
																									<h4 class="progress-title">Css3</h4>
																									<div class="progress">
																										<div class="progress-bar" style="width:95%">
																											<div class="progress-value">95%</div>
																										</div>
																									</div>
																								</div>
																								<div class="skill-item">
																									<h4 class="progress-title">HTML5</h4>
																									<div class="progress">
																										<div class="progress-bar" style="width:95%">
																											<div class="progress-value">95%</div>
																										</div>
																									</div>
																								</div>
												
																								<div class="skill-item">
																									<h4 class="progress-title">Sql Server 2019</h4>
																									<div class="progress">
																										<div class="progress-bar" style="width:90%">
																											<div class="progress-value">90%</div>
																										</div>
																									</div>
																								</div>
																								<div class="skill-item">
																									<h4 class="progress-title">SignalR</h4>
																									<div class="progress">
																										<div class="progress-bar" style="width:95%">
																											<div class="progress-value">95%</div>
																										</div>
																									</div>
																								</div>
																								<div class="skill-item">
																									<h4 class="progress-title">Angular 8</h4>
																									<div class="progress">
																										<div class="progress-bar" style="width:85%">
																											<div class="progress-value">85%</div>
																										</div>
																									</div>
																								</div>
											</div>
										</div>
									</div>

									<!-- Work Process Row Start -->
									<div class="row mt-100">

										<!-- Header Block -->
										<div class="col-md-12">
											<div class="header-box mb-50">
												<h3>پروسه کاری من</h3>
											</div>
										</div>
									</div>

									<div class="box-2 work-process mb-100">
										<div class="row">
											<div class="col-lg-4 col-sm-12 ltr">

												<!-- Working Process Item-->
												<div class="single-wp width-sm process-1">
													<p class="wp-step">01</p>
													<h4 class="wp-title">بررسی ایده</h4>
												</div>

												<!-- Working Process Item-->
												<div class="single-wp width-sm process-2">
													<p class="wp-step">02</p>
													<h4 class="wp-title">ارائه طرح اولیه</h4>
													
												</div>
											</div>

											<div class="col-lg-4 hidden-sm">

												<!-- Working Process Circle-->
												<div class="wp-circle">
													<h4>پروسه کاری</h4>
													<span class="dots top-l"></span>
													<span class="dots bottom-l"></span>
													<span class="dots top-r"></span>
													<span class="dots bottom-r"></span>
												</div>
											</div>

											<div class="col-lg-4 col-sm-12 rtl">

												<!-- Working Process Item-->
												<div class="single-wp width-sm process-3">
													<p class="wp-step">03</p>
													<h4 class="wp-title">طرح اولیه وب</h4>
							
												</div>

												<!-- Working Process Item-->
												<div class="single-wp width-sm process-4">
													<p class="wp-step">04</p>
													<h4 class="wp-title">طرح نهایی</h4>
										
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>

							<!-- Portfolio Section -->
							<div class="page pt-portfolio" data-simplebar>
								<section class="container">

									<!-- Section Title -->
									<div class="header-page mt-70 mob-mt">
										<h2>نمونه‌کارها</h2>
										<span></span>
									</div>

									<!-- Portfolio Filter Row Start -->
									<div class="row mt-100">
										<div class="col-lg-12 col-sm-12 portfolio-filter">
											<ul>
												<li class="active" data-filter="*">پروژه ها</li>
											</ul>
										</div>
									</div>

									<!-- Portfolio Item Row Start -->
									<div class="row portfolio-items mt-100 mb-100">

										<!-- Portfolio Item -->
										<div class="item col-lg-4 col-sm-6 graphic">
											<figure>
												<img alt="" src="{% static 'img/portfolio/1.jpg'%}">
												<figcaption>
													<h3>مرجع آموزشی تاپلرن</h3>
													<p>آموزشی</p><i class="fas fa-image"></i>
													<a class="image-link" href="{% static 'img/portfolio/1.jpg'%}"></a>
												</figcaption>
											</figure>
										</div>

										<!-- Portfolio Item -->
										<div class="item col-lg-4 col-sm-6 design">
											<figure>
												<img alt="" src="img/portfolio/3.jpg">
												<figcaption>
													<h3>لطیفان</h3>
													<p>فروشگاهی</p><i class="fas fa-image"></i>	<i class="fas fa-image"><a href="fas fa-eye"></a></i>													
													<a class="image-link" href="img/portfolio/3.jpg"></a>													
												</figcaption>
											</figure>
										</div>
										<!-- Portfolio Item -->
										<div class="item col-lg-4 col-sm-6 graphic">
											<figure>
												<img alt="" src="img/portfolio/4.jpg">
												<figcaption>
													<h3>گت ورک</h3>
													<p>فریلنسری</p><i class="fas fa-image"></i>
													<a class="image-link" href="img/portfolio/4.jpg"></a>
												</figcaption>
											</figure>
										</div>

										<!-- Portfolio Item -->
										<div class="item col-lg-4 col-sm-6 graphic">
											<figure>
												<img alt="" src="img/portfolio/5.jpg">
												<figcaption>
													<h3>آموزشگاه برنامه نویسان</h3>
													<p>آموزشی</p><i class="fas fa-image"></i>
													<a class="image-link" href="img/portfolio/5.jpg"></a>
												</figcaption>
											</figure>
										</div>

										<!-- Portfolio Item -->
										<div class="item col-lg-4 col-sm-6 brand">
											<figure>
												<img alt="" src="img/portfolio/2.jpg">
												<figcaption>
													<h3>کلان بازار</h3>
													<p>چند فروشگاهی</p><i class="fas fa-image"></i>
													<a class="image-link" href="img/portfolio/2.jpg"></a>
												</figcaption>
											</figure>
										</div>

										<!-- Portfolio Item -->
										<div class="item col-lg-4 col-sm-6 graphic">
											<figure>
												<img alt="" src="img/portfolio/6.jpg">
												<figcaption>
													<h3>فروشگاه برنامه نویسان</h3>
													<p>فروشگاهی</p><i class="fas fa-image"></i>
													<a class="image-link" href="img/portfolio/6.jpg"></a>
												</figcaption>
											</figure>
										</div>

									

										
									</div>
								</section>
							</div>
							<!-- Blog Section -->
							<div class="page pt-blog" data-simplebar>
								<section class="container">

									<!-- Section Title -->
									<div class="header-page mt-70 mob-mt">
										<h2>بلاگ</h2>
										<span></span>
									</div>

									<!-- Blog Row Start -->
									<div class="row blog-masonry mt-100 mb-50">

										<!-- Blog Item -->
										<div class="col-lg-4 col-sm-6">
											<div class="blog-item">
												<div class="thumbnail">
													<a href="blog-single.html"><img alt="" src="img/blog/img-1.jpg"></a>
												</div>
												<h4><a href="blog-single.html">راه موفقیت</a></h4>
												<ul>
													<li><a href="#">15 اسفند 1398</a></li>
													<li><a href="#">سبک زندگی</a></li>
												</ul>
												<div class="blog-btn">
													<a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
												</div>
											</div>
										</div>

										<!-- Blog Item -->
										<div class="col-lg-4 col-sm-6">
											<div class="blog-item">
												<div class="thumbnail">
													<a href="blog-single.html"><img alt="" src="img/blog/img-2.jpg"></a>
													<a href="video/video-iframe.html" class="btn-play"></a>
												</div>
												<h4><a href="blog-single.html">راه موفقیت</a></h4>
												<ul>
													<li><a href="#">10 اسفند 1398</a></li>
													<li><a href="#">سبک زندگی</a></li>
												</ul>
												<div class="blog-btn">
													<a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
												</div>
											</div>
										</div>

										<!-- Blog Item -->
										<div class="col-lg-4 col-sm-6">
											<div class="blog-item">
												<div class="thumbnail">
													<a href="blog-single.html"><img alt="" src="img/blog/img-3.jpg"></a>
												</div>
												<h4><a href="blog-single.html">راه موفقیت</a></h4>
												<ul>
													<li><a href="#">2 اسفند 1398</a></li>
													<li><a href="#">کار</a></li>
												</ul>
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
												<div class="blog-btn">
													<a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
												</div>
											</div>
										</div>

										<!-- Blog Item -->
										<div class="col-lg-4 col-sm-6">
											<div class="blog-item">
												<div class="thumbnail">
													<a href="blog-single.html"><img alt="" src="img/blog/img-4.jpg"></a>
												</div>
												<h4><a href="blog-single.html">راه موفقیت</a></h4>
												<ul>
													<li><a href="#">29 بهمن 1398</a></li>
													<li><a href="#">حرفه</a></li>
												</ul>
												<div class="blog-btn">
													<a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
												</div>
											</div>
										</div>

										<!-- Blog Item -->
										<div class="col-lg-4 col-sm-6">
											<div class="blog-item">
												<div class="thumbnail">
													<a href="blog-single.html"><img alt="" src="img/blog/img-5.jpg"></a>
												</div>
												<h4><a href="blog-single.html">راه موفقیت</a></h4>
												<ul>
													<li><a href="#">14 بهمن 1398</a></li>
													<li><a href="#">سبک زندگی</a></li>
												</ul>
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
												<div class="blog-btn">
													<a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
												</div>
											</div>
										</div>

										<!-- Blog Item -->
										<div class="col-lg-4 col-sm-6">
											<div class="blog-item">
												<div class="thumbnail">
													<a href="blog-single.html"><img alt="" src="img/blog/img-6.jpg"></a>
													<a href="video/video-iframe.html" class="btn-play"></a>
												</div>
												<h4><a href="blog-single.html">راه موفقیت</a></h4>
												<ul>
													<li><a href="#">29 دی 1398</a></li>
													<li><a href="#">حرفه</a></li>
												</ul>
												<div class="blog-btn">
													<a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
												</div>
											</div>
										</div>
									</div>

									<div class="row mt-60 mb-90">
										<div class="col-lg-12 col-sm-12 text-center">
											<a href="blog-list.html" class="btn-st">مشاهده همه مطالب بلاگ</a>
										</div>
									</div>

								</section>
							</div>

							<!-- Contact Section -->
							<div class="page pt-contact" data-simplebar>
								<section class="container">

									<!-- Section Title -->
									<div class="header-page mt-70 mob-mt">
										<h2>تماس</h2>
										<span></span>
									</div>

									<!-- Form Start -->
									<div class="row mt-100">
										<div class="col-lg-12 col-sm-12">
											<div class="contact-form ">
												<form method="post" class="box-1 contact-valid" id="contact-form">
													<div class="row">
														<div class="col-lg-6 col-sm-12">
															<input type="text" name="name" id="name" class="form-control" placeholder="نام *">
														</div>
														<div class="col-lg-6 col-sm-12 mt-3 mt-lg-0">
															<input type="email" name="email" id="email" class="form-control" placeholder="* ایمیل" dir="ltr">
														</div>
														<div class="col-lg-12 col-sm-12">
															<textarea class="form-control" name="note" id="note" placeholder="پیام شما"></textarea>
														</div>
														<div class="col-lg-12 col-sm-12 text-center">
															<button type="submit" class="btn-st">ارسال پیام</button>
															<div id="loader">
																<i class="fas fa-sync"></i>
															</div>
														</div>
														<div class="col-lg-12 col-sm-12">
															<div class="error-messages">
																<div id="success">
																	<i class="far fa-check-circle"></i>متشکریم، پیام شما ارسال شد.
																</div>
																<div id="error">
																	<i class="far fa-times-circle"></i>خطایی در هنگام ارسال ایمیل رخ داد. لطفا مجدد تلاش کنید.
																</div>
															</div>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>

									<!-- Contact Info -->
									<div class="box-2 contact-info">
										<div class="row">
											<div class="col-lg-4 col-sm-12 info">
												<i class="fas fa-paper-plane"></i>
												<p>barbodnvb@gmail.com</p>
												<span>ایمیل</span>
											</div>
											<div class="col-lg-4 col-sm-12 info">
												<i class="fas fa-map-marker-alt"></i>
												<p>اصفهان</p>
												<span>{% translate 'آدرس' %}</span>
											</div>
											<div class="col-lg-4 col-sm-12 info">
												<i class="fas fa-phone"></i>
												<p><span class="ltr-text">09024524488</span></p>
												<span>{% translate 'تلفن' %}</span>
											</div>
										</div>
									</div>
								</section>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock  %}