{% extends 'shared/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

							<!-- Home Section -->
							<div class="pt-home" style="background-image: url('{% static 'img/home-bg.jpg' %}')">

								<!-- Particles -->
								<div id="particles-js"></div>

								<section>

									<!-- Banner -->
									<div class="banner">
										<h1>{% translate 'باربد نوابی' %}</h1>
										<p class="cd-headline rotate-1">
											<span class="cd-words-wrapper">
												<b class="is-visible">{% translate 'برنامه نویس وب'%}</b>
											{% for skill in skills %}
												<b>{{skill.skill}}</b>
											{% endfor %}
											</span>
										</p>
									</div>

									<!-- Social -->
									<div class="social">
										<ul>
											<!-- <li><a href="#"><i class="fab fa-facebook-f"></i></a></li> -->
											<!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
											<li><a href="https://www.instagram.com/barbod_nv/" target="_blank"><i class="fab fa-instagram"></i></a></li>
											<!-- <li><a href="#"><i class="fab fa-youtube"></i></a></li> -->
										</ul>
									</div>
								</section>
							</div>

							<!-- About Section -->
							<div class="page pt-about" data-simplebar>
								<section class="container">

									<!-- Section Title -->
									<div class="header-page mt-70 mob-mt">
										<h2>{% translate 'درباره من'%}</h2>
										<span></span>
									</div>

									<!-- Personal Info Start -->
									<div class="row mt-100">

										<!-- Information Block -->
										<div class="col-lg-12 col-sm-12">
											<div class="info box-1">
												<div class="row">
												{% for resume in resumes %}
													<div class="col-lg-3 col-sm-4">
														<div class="photo">
															<img alt="{{resume.name}}" src="{{resume.image.url}}">
														</div>``
													</div>
													<div class="col-lg-9 col-sm-8">
														<h4>{% translate 'درباره من' %}</h4>
														<div class="loc">
															<i class="fas fa-map-marked-alt"></i>
														</div>
														<p>{{resume.description}}</p>
																											<div class="col-lg-3 col-sm-12 pt-50">
														<a href="{{resume.resume.url}}" class="btn-st" download>{% translate 'دریافت رزومه' %}</a>
													</div> 
													</div>

												{% endfor %}

													<!-- Icon Info -->
													{% for experiance in experiances %}
													<div class="col-lg-3 col-sm-4">
														<div class="info-icon">
															<i class="fas fa-award"></i>
															<div class="desc-icon">
																<h6>{{experiance.skill}}</h6>
															</div>
														</div>
													</div>
													{% endfor %}

												</div>
											</div>
										</div>
									</div>

									<!-- Interests Row Start -->
									<div class="row mt-100">

										<!-- Header Block -->
										<div class="col-md-12">
											<div class="header-box mb-50">
												<h3>{% translate 'علایق من'%}</h3>
											</div>
										</div>

										<div class="col-lg-12 col-sm-12">
											<div class="box-2">
												<div class="row">
                                                {% for favorite in favorites %}
													<!-- Interests Item -->
													<div class="col-lg-3 col-sm-6">
														<div class="inter-icon">
															<i class="fas fa-award"></i>
															<div class="desc-inter">
																<h6>{{favorite.title}}</h6>
															</div>
														</div>
													</div>
                                                {% endfor %}


									
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
								<!-- Resume Section -->
							<div class="page pt-resume" data-simplebar>
								<section class="container">

									<!-- Experience & Education Row Start -->
									

									<!-- Skills Row Start -->
									<div class="row mt-100">

										<!-- Header Block -->
										<div class="col-md-12">
											<div class="header-box mb-50">
												<h3>{% translate 'مهارت های من'%}</h3>
											</div>
										</div>
									</div>

									<div class="box-1 skills">
										<div class="row">
											<div class="col-md-12">
{% for skill in experiances %}
												<!-- Skill Item -->

												<div class="skill-item">
													<h4 class="progress-title">{{skill.skill}}</h4>
													<br>
													<div class="progress">
														<div class="progress-bar" style="width:{{skill.percent}}%">
															<div class="progress-value">{{skill.percent}}%</div>
														</div>
													</div>
												</div>
												{% endfor %}
											</div>
										</div>
									</div>


								</section>
							</div>

							<!-- Portfolio Section -->
							<div class="page pt-portfolio" data-simplebar>
								<section class="container">

									<!-- Section Title -->
									<div class="header-page mt-70 mob-mt">
										<h2>{% translate 'نمونه‌کارها'%}</h2>
										<span></span>
									</div>

									<!-- Portfolio Filter Row Start -->
									<div class="row mt-100">
										<div class="col-lg-12 col-sm-12 portfolio-filter">
											<ul>
												<li class="active" data-filter="*">{% translate 'پروژه ها' %}</li>
											</ul>
										</div>
									</div>

									<!-- Portfolio Item Row Start -->
									<div class="row portfolio-items mt-100 mb-100">
{% for project in projects %}
										<!-- Portfolio Item -->
										<div class="item col-lg-4 col-sm-6 graphic">
											<figure>
											{% if project.image %}
												<img alt="{{project.name}}" src="{{project.image.url}}">
												{% else %}
												<img alt="{{project.name}}" src="{% static 'img/default.png' %}">
{% endif %}
												<figcaption>
													<h3>{{project.name}}</h3>
													<p>{{project.TypeOf}}</p>
													<i class="fas fa-image"></i>
													{% if project.image %}
													<a class="image-link" href="{{project.image.url}}"></a>
													{% endif %}
												</figcaption>
											</figure>
										</div>
{% endfor %}


					
										
									</div>
								</section>
							</div>
							{% comment %} <!-- Blog Section -->
							<div class="page pt-blog" data-simplebar>
								<section class="container">

									<!-- Section Title -->
									<div class="header-page mt-70 mob-mt">
										<h2>بلاگ</h2>
										<span></span>
									</div>

									<!-- Blog Row Start -->
									<div class="row blog-masonry mt-100 mb-50">

										<!-- Blog Item -->
										<div class="col-lg-4 col-sm-6">
											<div class="blog-item">
												<div class="thumbnail">
													<a href="blog-single.html"><img alt="" src="img/blog/img-1.jpg"></a>
												</div>
												<h4><a href="blog-single.html">راه موفقیت</a></h4>
												<ul>
													<li><a href="#">15 اسفند 1398</a></li>
													<li><a href="#">سبک زندگی</a></li>
												</ul>
												<div class="blog-btn">
													<a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
												</div>
											</div>
										</div>

										<!-- Blog Item -->
										<div class="col-lg-4 col-sm-6">
											<div class="blog-item">
												<div class="thumbnail">
													<a href="blog-single.html"><img alt="" src="img/blog/img-2.jpg"></a>
													<a href="video/video-iframe.html" class="btn-play"></a>
												</div>
												<h4><a href="blog-single.html">راه موفقیت</a></h4>
												<ul>
													<li><a href="#">10 اسفند 1398</a></li>
													<li><a href="#">سبک زندگی</a></li>
												</ul>
												<div class="blog-btn">
													<a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
												</div>
											</div>
										</div>

										<!-- Blog Item -->
										<div class="col-lg-4 col-sm-6">
											<div class="blog-item">
												<div class="thumbnail">
													<a href="blog-single.html"><img alt="" src="img/blog/img-3.jpg"></a>
												</div>
												<h4><a href="blog-single.html">راه موفقیت</a></h4>
												<ul>
													<li><a href="#">2 اسفند 1398</a></li>
													<li><a href="#">کار</a></li>
												</ul>
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
												<div class="blog-btn">
													<a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
												</div>
											</div>
										</div>

										<!-- Blog Item -->
										<div class="col-lg-4 col-sm-6">
											<div class="blog-item">
												<div class="thumbnail">
													<a href="blog-single.html"><img alt="" src="img/blog/img-4.jpg"></a>
												</div>
												<h4><a href="blog-single.html">راه موفقیت</a></h4>
												<ul>
													<li><a href="#">29 بهمن 1398</a></li>
													<li><a href="#">حرفه</a></li>
												</ul>
												<div class="blog-btn">
													<a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
												</div>
											</div>
										</div>

										<!-- Blog Item -->
										<div class="col-lg-4 col-sm-6">
											<div class="blog-item">
												<div class="thumbnail">
													<a href="blog-single.html"><img alt="" src="img/blog/img-5.jpg"></a>
												</div>
												<h4><a href="blog-single.html">راه موفقیت</a></h4>
												<ul>
													<li><a href="#">14 بهمن 1398</a></li>
													<li><a href="#">سبک زندگی</a></li>
												</ul>
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
												<div class="blog-btn">
													<a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
												</div>
											</div>
										</div>

										<!-- Blog Item -->
										<div class="col-lg-4 col-sm-6">
											<div class="blog-item">
												<div class="thumbnail">
													<a href="blog-single.html"><img alt="" src="img/blog/img-6.jpg"></a>
													<a href="video/video-iframe.html" class="btn-play"></a>
												</div>
												<h4><a href="blog-single.html">راه موفقیت</a></h4>
												<ul>
													<li><a href="#">29 دی 1398</a></li>
													<li><a href="#">حرفه</a></li>
												</ul>
												<div class="blog-btn">
													<a href="blog-single.html" class="btn-st">بیشتر بخوانید</a>
												</div>
											</div>
										</div>
									</div>

									<div class="row mt-60 mb-90">
										<div class="col-lg-12 col-sm-12 text-center">
											<a href="blog-list.html" class="btn-st">مشاهده همه مطالب بلاگ</a>
										</div>
									</div>

								</section>
							</div> {% endcomment %}
{% comment %} 
							<!-- Contact Section -->
							<div class="page pt-contact" data-simplebar>
								<section class="container">

									<!-- Section Title -->
									<div class="header-page mt-70 mob-mt">
										<h2>{% translate 'تماس'%}</h2>
										<span></span>
									</div>

									<!-- Form Start -->
									<div class="row mt-100">
										<div class="col-lg-12 col-sm-12">
											<div class="contact-form ">
												<form method="post" class="box-1 contact-valid" id="contact-form">
													<div class="row">

													</div>
												</form>
											</div>
										</div>
									</div>

									<!-- Contact Info -->
									<div class="box-2 contact-info">
										<div class="row">
											<div class="col-lg-4 col-sm-12 info">
												<i class="fas fa-paper-plane"></i>
												<p>barbodnvb@gmail.com</p>
												<span>ایمیل</span>
											</div>
											<div class="col-lg-4 col-sm-12 info">
												<i class="fas fa-map-marker-alt"></i>
												<p>اصفهان</p>
												<span>{% translate 'آدرس' %}</span>
											</div>
											<div class="col-lg-4 col-sm-12 info">
												<i class="fas fa-phone"></i>
												<p><span class="ltr-text">09024524488</span></p>
												<span>{% translate 'تلفن' %}</span>
											</div>
										</div>
									</div>
								</section>
							</div> {% endcomment %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock  %}